@model IEnumerable<Comessa6.ViewModels.ItemViewModel>

<table class="table">
@foreach (var item in Model)
{
    <tr>
        <td>
            <button class="btn" type="submit" id=@item.ID itemName="@item.Name" onclick="ItemClicked(this)">
                @item.Name
            </button>
        </td>
        <td>@item.Price</td>
    </tr>
    @*<tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProviderId)
        </td>        
    </tr>*@
}
</table>
