@model IEnumerable<Comessa6.ViewModels.ItemViewModel>

<div class="list-group">
    @foreach (var item in Model)
    {
        <div style="display:block" type="submit" id="@item.ID" itemName="@item.Name" onclick="ItemClicked(this)">
            @item.Name @item.Price
        </div>
    <div class="panel-body" id="@("panel" + item.ID.ToString())"></div>
    }
</div>
