<!DOCTYPE html>
@{
    ViewBag.Title = "Comessa6";
}
@using Comessa6.ViewModels;
@model IndexViewModel
<script type="text/javascript" src="~/Scripts/ordering.js"></script>
<script type="text/javascript" src="~/Scripts/jquery-1.10.2.min.js"></script>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    @*<meta name="viewport" content="width=device-width, initial-scale=1">*@
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="~/favicon.ico">
    <title>Comessa6</title>
    <!-- Bootstrap core CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="~/Content/Site.css" rel="stylesheet">
    <link href="~/Content/index.css" rel="stylesheet">
</head>
<div>
    <div class="col-lg-5">
        <div class="panel-group" id="providers">
            <div class="panel">
                @{int i = 0; }
                @foreach (ProviderViewModel provider in Model.Providers.Providers)
                {
                    if (!provider.IsVisible)
                    {
                        continue;
                    }
                    i++;
                    <div class="panel-heading provider-header" data-toggle="collapse" data-parent="#providers" href="#@("i" + i.ToString())" providerID="@provider.ID">@provider.Name</div>
                    <div style="font-size: x-small; margin:0px; padding:0px; @*white-space: pre-line;*@">@provider.TodaysDinner</div>
                    <div id="@("i" + i.ToString())" class="panel-collapse collapse" style="font-size:small;">
                        <div id="@("provider" + provider.ID.ToString())"></div>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="col-lg-6" id="currentOrders"/>
</div>
<script>$(document).ready(function () {
    $("#currentOrders").load('@Url.Action("GetOrders", "Orders")');
    });
    $(function () {
        $(".panel-heading").each(function () {
            var button = $(this);
            var providerID = button.attr("providerID");
            if (providerID)
            {
                button.click(function () {
                    var itemsPanel = $("#provider" + providerID);
                    if (itemsPanel.itemsLoaded)
                        return;
                    $.ajax({
                        url: '@Url.Action("GetItems", "Items")',
                        type: 'GET',
                        cache: false,
                        data: { providerID },
                        success: function (result) { itemsPanel.html(result); },
                        error: function (error) { alert("Database failure: " + error.statusText); }
                    });
                    itemsPanel.itemsLoaded = true;
                });
            }
        });
    });
</script>