<!DOCTYPE html>
@{
  ViewBag.Title = "Comessa6";
}
@using Comessa6.ViewModels;
@model IndexViewModel
<script type="text/javascript" src="../../Scripts/ordering.js"></script>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <title>Comessa6</title>
    <!-- Bootstrap core CSS -->
    <link href="../../Content/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="../../Content/Site.css" rel="stylesheet">
</head>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 col-md-4 sidebar">
            <div class="panel-group" id="providers">
                <div class="panel panel-default">
                    @{int i = 0; }
                    @foreach (KeyValuePair<string, List<ItemViewModel>> provider in Model.Providers)
                    {
                        i++;
                    <div class="panel-heading">
                            <a data-toggle="collapse" data-parent="#providers" href="#@("i" + i.ToString())">@provider.Key</a>                        
                    </div>
                    <div id="@("i" + i.ToString())" class="panel-collapse collapse">
                        <div class="panel-body">
                            @foreach (ItemViewModel item in provider.Value)
                            {
                                
                            <table>
                                <tr>
                                    <td>
                                        <button class="btn pull-right" type="submit" id=@item.ID name="BtnItem@(i.ToString())" onclick="ItemClicked(this.id)">
                                            <p>@item.Name</p>
                                        </button>
                                        @*<input id=@item.ID type="submit" name="BtnItem@(i.ToString())" value="@item.Name" onclick="ItemClicked(this.id)" />*@
                                    </td>
                                    <td align="right">@item.Price</td>
                                </tr>
                            </table>
                            }
                        </div>
                    </div>
                    }
                </div>
            </div>
        </div>
    <div class="col-md-4">
        <div class="panel panel-success">
            <div class="panel panel-header">
                <h3 class="panel-title">
                    To order
                </h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-6 form-group">
                        <input class="form-control" id="orderItem" name="item" placeholder="Item" type="text" required>
                    </div>
                    <div class="col-sm-6 form-group">
                        <input class="form-control" id="orderQuantity" name="quantity" placeholder="Quantity" type="number" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-9 form-group">
                        <textarea class="form-control" id="orderComments" name="comments" placeholder="Comments" rows="5"></textarea>
                    </div>
                    <div class="col-md-3 form-group">
                        <button class="btn pull-right" type="submit">Order</button>
                    </div>
                    <div class="col-md-3 form-group">
                        <button class="btn pull-right" type="submit">Cancel</button>
                    </div>
                 </div>
            </div>
            </div>
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    @{int j = 0; }
                    @foreach (OrderViewModel order in Model.RecentOrders.Orders)
                    {
                        j++;
                        <div class="panel-heading">
                            <h3 class="panel-title pull-left">
                                <a data-toggle="collapse" data-parent="#accordion" href="#@("o" + j.ToString())">@order.ItemName</a>
                            </h3>
                        </div>
                        <div id="@("o" + j.ToString())" class="panel-collapse collapse">
                            <div class="panel-body">
                                <h5 class="panel-title pull-left">
                                    @order.ProviderName
                                </h5>
                                <h5 class="panel-title">
                                    @order.Price
                                </h5>
                                <button class="btn btn-default pull-right">Remove</button>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        @*<div class="panel-footer" style="font-size: 12px">@order.ProviderName</div>*@
                    }
                </div>
            </div>
        </div>
</div>
</div>
@*<script type="text/javascript">
    function ItemClicked(clicked_id)
{
    alert(clicked_id);
}
</script>*@