<!DOCTYPE html>
@{
  ViewBag.Title = "Comessa6";
}
@using Comessa6.ViewModels;
@model IndexViewModel
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <title>Comessa6</title>
    <!-- Bootstrap core CSS -->
    <link href="../../Content/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    @*<link href="../../Content/dashboard.css" rel="stylesheet">
    <link href="../../Content/panels.css" rel="stylesheet">*@
</head>
@*<div class="jumbotron">
    <h1>Comessa6</h1>
    <p class="lead">Order your lunch here</p>
</div>*@
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>
                <li><a href="#">Reports</a></li>
            </ul>
            <ul class="nav nav-sidebar">
                <li><a href="">Nav item</a></li>
                <li><a href="">Nav item again</a></li>
            </ul>
            <ul class="nav nav-sidebar">
                <li><a href="">Nav item again</a></li>
            </ul>
        </div>
    <div class="col-md-4">
        <div class="panel-group" id="accordion">
            <div class="panel panel-primary">
                @{int i = 0; }
                @foreach (OrderViewModel order in Model.RecentOrders.Orders)
                {
                  i++;
                <div class="panel-heading">
                    <h3 class="panel-title pull-left">
                        <a data-toggle="collapse" data-parent="#accordion" href="#@i.ToString()">@order.ItemName</a>
                    </h3>
                </div>
                <div id="@i.ToString()" class="panel-collapse collapse">
                    <div class="panel-body">
                        <h5 class="panel-title pull-left">
                            @order.ProviderName
                        </h5>
                        <h5 class="panel-title">
                            @order.Price
                        </h5>
                        <button class="btn btn-default pull-right">Remove</button>
                        <div class="clearfix"></div>
                    </div>
                    </div>
                    @*<div class="panel-footer" style="font-size: 12px">@order.ProviderName</div>*@
                    }
                </div>
        </div>
    </div>
</div>
</div>