<!DOCTYPE html>
@{
    ViewBag.Title = "Comessa6";
}
@using Comessa6.ViewModels;
@model IndexViewModel
<script type="text/javascript" src="~/Scripts/ordering.js"></script>
<script type="text/javascript" src="~/Scripts/jquery-1.10.2.min.js"></script>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    @*<meta name="viewport" content="width=device-width, initial-scale=1">*@
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="~/favicon.ico">
    <title>Comessa6</title>
    <!-- Bootstrap core CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="~/Content/Site.css" rel="stylesheet">
    <link href="~/Content/index.css" rel="stylesheet">
    <meta http-equiv="refresh" content="43200">
</head>
<div>
    <div class="col-lg-6">
        <div class="columnHeader">Zamów</div>
        <div class="panel-group provider" id="providers">
            <div class="panel">
                @{int i = 0; }
                @foreach (ProviderViewModel provider in Model.Providers.Providers)
                {
                    if (!provider.IsVisible)
                    {
                        continue;
                    }
                    i++;
                    <div class="provider-header" data-toggle="collapse" data-parent="#providers" href="#@("i" + i.ToString())" providerID="@provider.ID">@provider.Name</div>
                    <div class="provider-dinner">@provider.TodaysDinner</div>
                    <div id="@("i" + i.ToString())" class="panel-collapse collapse" style="font-size:small;">
                        <div id="@("provider" + provider.ID.ToString())"></div>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div id="todaysOrdersHeader" class="columnHeaderSwitchable">Zamówione dziś</div>
        <div id="myOrdersHeader" class="columnHeaderSwitchable">Moje zamówienia</div>
        <div>
            <div id="currentOrders" />
        </div>
        <div>
            <div id="currentPayments" />
        </div>
    </div>
</div>
<script>
    var OrdersUserID = -1;
    $(function () {
        $(".provider-header").each(function () {
            var button = $(this);
            var providerID = button.attr("providerID");
            if (providerID)
            {
                button.click(function () {
                    var itemsPanel = $("#provider" + providerID);
                    if (itemsPanel.itemsLoaded)
                        return;
                    $.ajax({
                        url: '@Url.Action("GetItems", "Items")',
                        type: 'GET',
                        cache: false,
                        data: { providerID },
                        success: function (result) { itemsPanel.html(result); },
                        error: function (error) { alert("Database failure: " + error.statusText); }
                    });
                    itemsPanel.itemsLoaded = true;
                });
            }
        });
    });
    function loadOrders() {
        var link = '@Url.Action("GetOrders", "Orders")';
        link = link + "?userID=" + OrdersUserID;
        //link.replace("replace", "asfd");
        $("#currentOrders").load(link);
    };
    function loadPayments() {
        var link = '@Url.Action("GetPayments", "Payments")';
        link = link + "?userID=" + OrdersUserID;
        $("#currentPayments").load(link);
    };
    $(document).ready(function () {
        loadOrders();
        loadPayments();
        $('#myOrdersHeader').hide();
    });

    setInterval(function () {
        loadOrders();
    }, 60000);

    setInterval(function () {
        loadPayments();
    }, 60000);

    $("#todaysOrdersHeader").click(function () {
        $("#myOrdersHeader, #todaysOrdersHeader").toggle("slow", function () { });
        OrdersUserID = '@Session["UserID"]';
        loadOrders();
        loadPayments();
    });

    $("#myOrdersHeader").click(function () {
        $("#myOrdersHeader, #todaysOrdersHeader").toggle("slow", function () { });
        OrdersUserID = -1;
        loadOrders();
        loadPayments();
    });
</script>