@using Comessa6.ViewModels;
@model IEnumerable<PaymentViewModel>
  <head>
      <link href="~/Content/index.css" rel="stylesheet">
  </head>
<body>
    <div id="orders-list-wrapper">
        <ul id="orders-list">
            @{
              bool shown = false;
              foreach (PaymentViewModel payment in Model.Where(p => p.Type == PaymentType.Payment))
              {
                  string itemClass = "order-item-wrapper-payment";
                  bool isMine = string.Equals(payment.SenderID, Session["UserID"]) || string.Equals(payment.RecipientID, Session["UserID"]) || string.Equals(2, Session["UserID"]);
                  if (!isMine)
                  {
                      continue;
                  }
                  if (!shown)
                  {
                      shown = true;
                        <li>
                            <div class="paymentTitle"><span>Wpłaty</span></div>
                        </li>
                  }

                    <li class="order-item" id="@("header" + payment.ID.ToString())">
                        <ul class="@itemClass" id="@("order" + payment.ID.ToString())">
                            <li class="order-item-content order-item-left">
                                <div class="item"><div class="autoFontSize">@payment.SenderName</div></div>
                                <div class="comment"><span class="fonticon"></span>@payment.Comment</div>
                            </li>
                            <li class="order-item-content order-item-right">
                                <span class="price">@((payment.Value).ToString("N2"))</span>
                                <div class="userName">
                                    @payment.Date.ToString("dd.MM.yy")
                                </div>
                            </li>
                        </ul>
                    </li>
                }
                shown = false;
                foreach (PaymentViewModel payment in Model.Where(p => p.Type == PaymentType.Transfer))
                {
                    bool isOut = string.Equals(payment.SenderID, Session["UserID"]);
                    bool isIn = string.Equals(payment.RecipientID, Session["UserID"]);
                    bool isMine = isIn || isOut || string.Equals(2, Session["UserID"]);
                    if (!isMine)
                    {
                        continue;
                    }
                    if (!shown)
                    {
                        shown = true;
                        <li>
                            <div class="transferTitle"><span>Przelewy</span></div>
                        </li>
                    }


                    string itemClass = isIn ? "order-item-wrapper-transfer-in" : (isOut ? "order-item-wrapper-transfer-out" : "order-item-wrapper-transfer");

                    <li class="order-item" id="@("header" + payment.ID.ToString())">
                        <ul class="@itemClass" id="@("order" + payment.ID.ToString())">
                            <li class="order-item-content order-item-left">
                                <div class="item"><div class="autoFontSize">@payment.SenderName >>> @payment.RecipientName</div></div>
                                <div class="comment"><span class="fonticon"></span>@payment.Comment</div>
                            </li>
                            <li class="order-item-content order-item-right">
                                <span class="price">@((payment.Value).ToString("N2"))</span>
                                <div class="userName">
                                        @payment.Date.ToString("dd.MM.yy")
                                </div>
                            </li>
                        </ul>
                    </li>
                  }
              }
        </ul>
    </div>
</body>
