@model Comessa6.ViewModels.OrderViewModel

<head>
    <script>
      $(function () {
        $('form').on('submit', function (e) {
            e.preventDefault();
            var itemID = @Html.Raw(Json.Encode(Model.ItemID));
          $.ajax({
            type: 'POST',
            url: '@Url.Action("SaveOrder", "Orders")',
            data: JSON.stringify({ "itemID":itemID, "quantity": $('#orderQuantity').val(), "comments": $('#orderComments').val() }),
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            success: function (result) { success(result); },
            error: function (error) { alert("Database failure: " + error.statusText); }
          });
            CancelOrder();
        });
      });

        function success(result) {
            $("#currentOrders").load('@Url.Action("GetOrders", "Orders", new { userID = -1 })');
      }
    </script>
</head>
<div @*class="collapse"*@ id="orderPanel">
    @using (Html.BeginForm("SaveOrder", "Orders", FormMethod.Post))
    {
        <form class="panel-body">
            <div class="row">
                <div class="col-md-12 form-group">
                    <input class="form-control" id="orderQuantity" name="quantity" placeholder="Quantity" type="number" min="1" max="666" value="@Model.Quantity" required>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 form-group">
                    <textarea class="form-control" id="orderComments" name="comment" placeholder="komentarz..." rows="5">@Model.Comment</textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 form-group">
                    <button class="btn" value="SaveOrder" type="submit">Zamów</button>
                </div>
                <div class="col-md-9 form-group">
                    <button class="btn btn-defaul" onclick="CancelOrder();">Anuluj</button>
                </div>
            </div>
        </form>
    }
</div>
