@using Comessa6.ViewModels;
@model IEnumerable<OrderViewModel>
  <head>
      <link href="../../Content/index.css" rel="stylesheet">
  </head>
<body>
    <div id="orders-list-wrapper">
        <ul id="orders-list">
            @foreach (OrderViewModel order in Model)
            {
                bool isMine = string.Equals(order.UserID, Session["UserID"]);
                string itemClass = isMine ? "order-item driver" : "order-item passenger";
                        
                <li class="@itemClass" id="@("header" + order.ID.ToString())">                        
                    <ul class="order-item-wrapper" id="@("order" + order.ID.ToString())">
                        <li class="order-item-content order-item-start">
                            <div class="item"><div class="autoFontSize">@order.ItemName</div></div>
                            <div class="provider"><span class="fonticon"></span>@order.Comment</div>
                            <div class="provider"><span class="fonticon"></span>@order.ProviderName</div>
                        </li>
                        <li class="order-item-content order-item-date">
                            <span class="price">@order.Price</span>
                            <span class="userName">@order.UserName</span>
                        </li> 
                    </ul>                    
                    @if (order.Status == OrderStatus.Ordered && (isMine || !Html.IsDebug()))
                    {
                    <ul style="display:inline">
                        <li class="order-item">
                            <button class="order-item-button" orderID="@order.ID" onclick="DeleteClicked(this)">-</button>
                        </li>
                    </ul>
                    }
                </li>
            }
        </ul>
    </div>
    <script>
        function DeleteClicked(button) {
            var orderID = button.getAttribute("orderID");
            $.ajax({
                url: '@Url.Action("DeleteOrder", "Orders")',
                type: 'POST',
                data: JSON.stringify({ "ID": orderID }),
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                success: function (result)
                {
                    var orderPanel = $("#header" + orderID);
                    if (orderPanel)
                        orderPanel.remove();
                    var orderPanel = $("#panel" + orderID);
                    if (orderPanel)
                        orderPanel.remove();
                },
                error: function (error) { alert("Database failure: " + error.statusText); }
            });
            return false;
        }
    </script>
</body>
