@using Comessa6.ViewModels;
@model IEnumerable<OrderViewModel>
  <head>
      <link href="~/Content/index.css" rel="stylesheet">
  </head>
<body>
    <div id="orders-list-wrapper">
        <ul id="orders-list">
            @{string providerName = string.Empty; decimal providerSum = 0;}
            @foreach (OrderViewModel order in Model)
            {
                bool isMine = string.Equals(order.UserID, Session["UserID"]);
                string itemClass = isMine ? "order-item-wrapper-mine" : "order-item-wrapper";

                if (!string.Equals(order.ProviderName, providerName))
                {
                    if (!string.Equals(string.Empty, providerName))
                    {
                        <li>
                            <ul class="order-item-sum">
                                <li class="order-item-content order-item-left">
                                    <div class="item"><div class="autoFontSize">Suma</div></div>
                                </li>
                                <li class="order-item-content order-item-right">
                                    <div class="sum">@(providerSum.ToString("N2"))</div>
                                </li>
                            </ul>
                        </li>
                    }
                    <li>
                        <div class="providerName"><span>@(order.ProviderName)</span></div>
                    </li>
                    providerSum = 0;
                }
                <li class="order-item" id="@("header" + order.ID.ToString())" @if (!isMine) { <text> itemID="@order.ItemID" onclick="OrderClicked(this)"  orderID="@order.ID" , comment="@order.Comment"</text>   }>
                    <ul class="@itemClass" id="@("order" + order.ID.ToString())">
                        <li class="order-item-content order-item-left">
                            <div class="item"><div class="autoFontSize">@order.ItemName</div></div>
                            <div class="comment"><span class="fonticon"></span>@order.Comment</div>
                            @*<div class="provider"><span class="fonticon"></span>@order.ProviderName</div>*@
                        </li>
                        <li class="order-item-content order-item-right">
                            <span class="price">@((order.Price * order.Quantity).ToString("N2"))</span>
                            <div class="userName">@order.UserName</div>
                        </li>
                        @if (order.Status == OrderStatus.Ordered && isMine)
                        {
                        <li>
                            <input type="image" class="order-item-button" src="@Url.Content("~/Images/delete.png")" orderID="@order.ID" onclick="DeleteClicked(this)" />
                        </li>
                        }
                    </ul>
                </li>

                <li class="itemToOrder-panel" id="@("panelOrder" + order.ID.ToString())"></li>
                providerName = order.ProviderName;
                providerSum += order.Price * order.Quantity;
            }
            @if (providerSum != 0)
            {
            <li>
                <ul class="order-item-sum">
                    <li class="order-item-content order-item-left">
                        <div class="item"><div class="autoFontSize">Suma</div></div>
                    </li>
                    <li class="order-item-content order-item-right">
                        <div class="sum">@(providerSum.ToString("N2"))</div>
                    </li>
                </ul>
            </li>
            }
        </ul>
    </div>
    <script>
        function DeleteClicked(button) {
            var orderID = button.getAttribute("orderID");
            $.ajax({
                url: '@Url.Action("DeleteOrder", "Orders")',
                type: 'POST',
                data: JSON.stringify({ "ID": orderID }),
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                success: function (result)
                {
                    var orderPanel = $("#header" + orderID);
                    if (orderPanel)
                        orderPanel.remove();
                    var orderPanel = $("#panel" + orderID);
                    if (orderPanel)
                        orderPanel.remove();
                },
                error: function (error) { alert("Database failure: " + error.statusText); }
            });
            return false;
        }


        var previousOrderID
        function OrderClicked(button) {
            var itemID = button.getAttribute("itemID");
            var orderID = button.getAttribute("orderID");
            var comment = button.getAttribute("comment");
            var shownPanel = $("#orderPanel");
            if (shownPanel) {
                shownPanel.remove();
                if (previousOrderID == orderID) {
                    previousOrderID = -1;
                    return;
                }
            }
            var orderPanel = $("#panelOrder" + orderID);
            previousOrderID = orderID;
            $.ajax({
                url: '@Url.Action("CreateOrderFromOrder", "Orders")',
                type: 'GET',
                cache: true,
                async: true,
                data: { itemID, comment },
                success: function (result) { orderPanel.html(result); },
                error: function (error) { alert("Database failure: " + error.statusText); }
            });
            return false;
        }
    </script>
</body>
